.container{
    background-color: #0d1321ff;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: calc(100vh - 5rem);
}

.bg-image {
    /* The image used */
    background-image: url("../../../assets/nightsky1.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.display{
    top: 350px;
    position: absolute;
    text-align: center;
    color: #F0EBD8;
    width: 100%;
}

.display h1{
    font-size: 4rem;
    font-weight: 100;
    user-select: none;
}

.display button{
    margin-top: 60px;
    background-color: #1D2D44;
    font-size: 1.5rem;
    letter-spacing:0.10rem;
    font-weight: 100;
    min-width: 220px;
    min-height: 55px;
}