footer {
    position: absolute;
    background-color: #1D2D44;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #F0EBD8;
    font-size: 0.9rem;
    font-weight: 400;
}

footer p {
    padding-top: 0.5rem;
    text-align: center;
    color: #F0EBD8;
    user-select: none;
    letter-spacing: 3px;
}