footer {
    position: absolute;
    background-color: rgb(37, 171, 197);
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    bottom: 0px;
    font-weight: 500;
}

footer p {
    margin: 5px;
}