footer {
    position: absolute;
    background-color: #1D2D44;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #F0EBD8;
    font-size: 0.9rem;
    bottom: 0px;
    font-weight: 500;
}

footer p {
    text-align: left;
    color: #F0EBD8;
}