.project-card {
    max-width: 300px;
    background-color: #1D2D44;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 55px;
}

.explore-title{
    user-select: none;
    letter-spacing: 10px;
    font-weight: 100;
    text-align: center;
    color: #F0EBD8;
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 8rem;
}

.project-cards{
    margin-bottom: 0px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.project-card button{
    color: #F0EBD8;
}

.project-card mat-card-content, mat-card-title, mat-card-subtitle{
    color: #F0EBD8;
}

.project-header-image {
    background-image: url('../../../assets/cat-profile-pic.jpg');
    background-size: cover;
}


.container{
    background-color: #0D1321;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

