.project-card {
    width: 300px;
    height: 520px;
    background-color: #1D2D44;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 55px;
    box-shadow: 5px 5px 10px #0d1321;
}

h1{
    margin: auto;
    font-size: 4rem;
    font-weight: 100;
    user-select: none;
    color: #F0EBD8;
}

.display{
    top: 350px;
    text-align: center;
    color: #F0EBD8;
    width: 100%;
}

.explore-title{
    user-select: none;
    letter-spacing: 5px;
    font-weight: 100;
    text-align: center;
    color: #F0EBD8;
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 8rem;
}

.project-cards{
    margin-bottom: 0px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.project-card button{
    color: #F0EBD8;
}


.project-card img{
    max-width: 360px;
    height: 320px;
    margin-top: 20px;
    // max-height: 320px;
}

.project-card mat-card-content, mat-card-title, mat-card-subtitle{
    color: #F0EBD8;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.project-header-image {
    background-image: url('../../../assets/blank-profile-pic.png');
    background-size: cover;
}


.container{
    background-image: linear-gradient(to right,  #0d1321 0%, #1d2d44 50% ,#3e5c76 100%);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: auto;
    min-height: calc(100vh - 6.5rem);
    user-select: none;
}

