<div class="header">
    <a routerLink="/"><h2>SKY</h2></a>
    <div class="main">
        <ul>
            <li><a routerLink="/projects/explore">Explore</a></li>
        </ul>
    </div>

    <ng-template #loggedOutTemplate>
        <ul>
            <li>
                <a routerLink="/auth/login">Sign in</a>
            </li>
            <li>
                <a routerLink="/auth/register">Sign up</a>
            </li>
        </ul>
    </ng-template>

    <ng-template #loggedInTemplate>
        <ul>
            <li>
                <a routerLink="/auth/profile">{{user?.username}}'s profile</a>
            </li>
            <li>
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </ng-template>

    <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>

</div>