.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D2D44;
    height: 4rem;
}

img {
    height: 30px;
}

a{
    text-decoration: none;
}
h2 {
    color: #F0EBD8;
    font-size: 2rem;
    height: 1rem;
    padding: 0 10px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem 1.4rem;
}
ul li a{
    text-decoration: none;
    color: #F0EBD8;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

ul li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3E5C76;
    height: 3px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  ul li:hover:before, ul li:focus:before, ul li:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
  }
