.example-container mat-form-field {
    margin-left: 8px;
}

mat-label {
    color: #f0ebd8ff;
}

// .bg-image {
//     background-image: linear-gradient(to-right, #0d1321ff, #1d2d44ff);

//     filter: blur(8px);
//     -webkit-filter: blur(8px);

//     height: 100%;

//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

::placeholder {
    color: #1d2d44ff;
    opacity: 0.5;
}


fieldset {
    position: absolute;
    text-align: center;
    border-radius: 10px;
    border-color: #1d2d44ff;
    width: 360px;
    background-color: #1d2d44ff;
    box-shadow: 0px 20px 50px rgb(14, 33, 49);
}

.container {
    background-color: #0D1321;
    background-size: cover;
    background-position: center;
    user-select: none;
    width: 100%;
    height: calc(100vh - 6.5rem);
}

.form {
    // top: 100px;
    // left: 35%;
    position:absolute;
    // padding: 140px;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    width: 360px;
    height: 340px;
    color: #f0ebd8ff;
    position: absolute;
}

label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1rem;
    padding-left: 1.5rem;
    color: #f0ebd8ff;
}

input {
    width: 20rem;
    height: 2rem;
    padding-left: 12px;
    border: none;
    border: 1px solid #3e5c76ff;
    background-color: #f0ebd8ff;
    border-radius: 8px;
    margin-left: 0.5rem;
}

button {
    margin-top: 60px;
    background-color: #3e5c76ff;
    font-size: 1.1rem;
    letter-spacing: 0.10rem;
    font-weight: 100;
    min-width: 140px;
    min-height: 35px;
}

p.error {
    text-align: left;
    color: #f0ebd8ff;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

p {
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
    font-weight: 500;
}

p>a {
    font-weight: 400;
    color: #748cabff;
}