.container {
    background-image: linear-gradient(to right,  #0d1321 0%, #1d2d44 50% ,#3e5c76 100%);
    background-size: cover;
    background-position: center;
    user-select: none;
    width: 100%;
    height: calc(100vh - 6.5rem);
}

.card{
    position: absolute;
    top:45%;
    left:30%;
    transform: translate(-50%, -50%);
    text-align: start;
}

.image-displayer{
    width: 500px;
    height: 389px;
    position: absolute;
    left: 24.2rem;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

.edit{
    margin-top: 20rem;
    background-color: #eec842c6;
    font-size: 1rem;
    letter-spacing:0.10rem;
    font-weight: 400;
    min-width: 110px;
    min-height: 40px;
}

fieldset {
    position: absolute;
    text-align: center;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    border-color: #1d2d44ff;
    width: 360px;
    background-color: #1d2d44ff;
    box-shadow: 0px 20px 50px #0d1321;

}

.back{
    position: absolute;
    left:5%;
    bottom: 2.4%;
    width: 70px;
    height: 36px;
    background-color: #3e5c76ff;
    color: #f0ebd8ff;
    font-size: 1.1rem;
    font-weight: 100;
    
}

.form {
    // top: 100px;
    // left: 35%;
    position:absolute;
    // padding: 140px;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    width: 360px;
    height: 340px;
    color: #f0ebd8ff;
    position: absolute;
}

label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1rem;
    padding-left: 1.5rem;
    color: #f0ebd8ff;
}

input {
    width: 20rem;
    height: 2rem;
    padding-left: 12px;
    border: none;
    border: 1px solid #3e5c76ff;
    background-color: #f0ebd8ff;
    border-radius: 8px;
    margin-left: 0.5rem;
}

.submit-btn {
    margin-top: 60px;
    background-color: #3e5c76ff;
    font-size: 1.1rem;
    letter-spacing: 0.10rem;
    font-weight: 100;
    min-width: 140px;
    min-height: 35px;
    color: #f0ebd8ff;;
}

p.error {
    text-align: left;
    color: #f0ebd8ff;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

p {
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
    font-weight: 500;
}

p>a {
    font-weight: 400;
    color: #748cabff;
}

.project-image{
    height: 440px;
    width: 600px;
    margin-top: 30px;
}

.title {
    font-size: 3rem;
    font-weight: 100;
    user-select: none;
    color: #F0EBD8;
    position: absolute;
}

.out-card{
    position: absolute;
    left: 50%;
    top: 22%;
    min-width: 600px;
    width: 600px;
}

.description{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px;
    border: solid 2px #748cabff;
    border-radius: 10px;
    font-size: 15px;
    color: #F0EBD8;
    font-weight: 400;
    position: absolute;
    margin-top: 15px;
    background-color: #1D2D44;
}

.contents{
    height: 500px;
    width: 600px;
    // max-height: 500px;
    // max-width: 700xp;
    background-color: #1D2D44;
    border-radius: 10px;
}

a{
    color: #748cabff;
    text-decoration: none;
}

.created{
    font-size: 1rem;
    font-weight: 100;
    user-select: none;
    color: #F0EBD8;
    margin-top: 3rem;
}
