.container {
    background-image: linear-gradient(to right,  #0d1321 0%, #1d2d44 25% ,#3e5c76 50%, #1d2d44 75%,#0d1321 100%);
    background-size: cover;
    background-position: center;
    user-select: none;
    width: 100%;
    height: calc(100vh - 6.5rem);
    text-align: center;
}

p{
    font-size: 5rem;
    color: white;
}